/time_templates/data_old
/time_templates/old
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.json
*.png
*.h5
*.npz
*.npy
*.root
*.o
*.P
*.pl
*.swp
*.pdf
*overleaf_*
*.h5
*.parquet
*.feather
*.egg-info*
*.job
*.log
*.csv
/setup/data_directory.txt
/adst_to_tree/read_adst

#include new data (only small files)
!/time_templates/data/
!/time_templates/data/*
!/time_templates/data/**/*

time_templates/data/*conv*.npz
